@model SelectList
@{
    ViewBag.Title = "category News";
}

@Html.DropDownList("depts", Model, new { @class = "btn btn-secondary dropdown-toggle dropdown-toggle-split" })

<div id="d1">


</div>




